language: python

stages:
  - test
  - name: deploy
    if: branch = master

jobs:
  include:
    - stage: test
      python: "3.7"
      before_install:
        - |
          git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md$)' || {
            echo "Only docs were updated, stopping build process."
            exit
          }

      install:
        - pip install invoke codecov
        - invoke install-all
        - invoke download-nltk-data

      script:
        - echo "Running CI scripts"
        - invoke check-format
        - invoke lint
        - invoke test

      after_success:
        - codecov
