**/*.pyc
**/__pycache__
.codecov.yml
.dockerignore
.editorconfig
.env
.git
.git/
.github/
.gitignore
.vscode
CODE_OF_CONDUCT.md
CONTRIBUTING.md
*Dockerfile*
LICENSE.txt
README.md
docker-compose*
env
setup.cfg
static/frontend
