{% extends "base.html" %} {% block content %}
<div class="index">
  <div class="main">
    <h1>
      Find organisations who can help implement your project
    </h1>
    <form action="/" method="POST">
      <p>Select search method:</p>
      {% for error in form.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
      <div>
      {% for subfield in form.search_method %}
        {{ subfield }}
        {{ subfield.label }}
      {% endfor %}
      </div>
      {{ form.search(placeholder="Enter your project description") }}
      {{ form.submit }}
    </form>
  </div>


  {% if result_type == "cosine" %}
  <div class="results">
    <h1>Organisations</h1>
    <a href="/">Search again</a>
    {% for result in results %}
    <div>
      <h2>{{ result['reporting.org'] }}</h2>
      <p>
        <em>{{ result['title'] }}</em><br />
        <a href="http://d-portal.org/ctrack.html#view=act&aid={{ result['iati.identifier'] | urlencode }}">{{ result['iati.identifier']}}</a><br />
        {{ result['description']}}
      </p>
    </div>
    {% endfor %}
  </div>

  {% elif result_type == "elastic" %}

  <div class="results">
    <h1>Organisations</h1>
    <a href="/">Search again</a>
    {% for result in results %}
    <div>
      <h2>{{ result['_source']['reportingOrg'] }}</h2>
      <p>
        <em>{{ result['_source']['title'] }}</em><br />
        <a href="http://d-portal.org/ctrack.html#view=act&aid={{ result['_source']['iatiIdentifier'] | urlencode }}">{{ result['_source']['iatiIdentifier']}}</a><br />
        {{ result['_source']['description']}}
      </p>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <!-- fallback if nothing defined -->
  <div class="example">
    <h2>Here's an example to try out</h2>
    <p>
      Despite impressive improvements in Vietnam's development and health status
      over the past decade, gains have not been equitable and significant unmet
      health needs remain. Poor and marginalized populations continue to
      disproportionally suffer from preventable illnesses while those in
      wealthier socioeconomic groups continue to enjoy greater health and longer
      life expectancy. Social Marketing for Improved Rural Health will include 3
      main components: i) social marketing of SafeWat household water treatment
      solution and promotion of safer hygiene behaviors; ii) Good health, Great
      life and iii) behavior change communication to address non-supply side
      barriers to healthier behaviors
    </p>
  </div>
  {% endif %}

</div>
{% endblock %}
